@model List<PilasTiendaMVC.Pilas.Entities.Pila>

@{
    Layout = "~/Views/Shared/comp.cshtml";
}

<h2>Listado de Pilas</h2>

@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}
else
{
    <table class="text-center table table-responsive table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad existente</th>
            <th>Compras</th>

        </tr>
        @foreach (var pila in Model)
        {
            using (Html.BeginForm("AgregarAlCarrito", "Carrito", FormMethod.Post))
            {
                <tr>
                    <td>@pila.PilaId</td>
                    <td>@pila.Nombre</td>
                    <td>@pila.Precio</td>
                    <td>@pila.Stock</td>

                    <td>
                        @Html.Hidden("id", pila.PilaId)
                        @Html.Hidden("nombre", pila.Nombre)
                        @Html.Hidden("precio", pila.Precio)

                        @Html.Hidden("stock", pila.Stock)

                        <input name="cantidad" class="form-control cantidad" placeholder="Insertar cantidad" type="number" />
                        
                        <button type="submit" class="btn btn-success">Agregar al carrito</button>
                    </td>
                </tr>
            }
        }
    </table>
}

